.img__mobile {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* .drop-content {
    margin-top: 2.5rem;
    display: block;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    background-color: #fff;
    width: atuo;
    z-index: 2;
    display: flex;
    flex-direction: column;
} */

.drop-content {
    display: none;
}

.drop-content-1 {
    margin-top: 2.5rem;
    display: block;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    background-color: #fff;
    width: atuo;
    z-index: 2;
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.drop-content-2 {
    margin-top: 2.5rem;
    display: block;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    background-color: #fff;
    width: atuo;
    z-index: 2;
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

@media (max-width: 800px) {
    .img__pc {
        display: none;
    }

    .nav {
        padding: 1rem 2rem;
    }

    .img__mobile {
        display: block;
    }

    .page {
        height: auto;
        flex-direction: column-reverse;
    }

    .page__txt h1 {
        margin: 0;
        font-size: 3.5rem;
        text-align: center;
    }

    .page__txt p {
        text-align: center;
    }

    .page__txt button {
        display: flex;
        margin: 2rem auto;
    }

    .page__txt__partner {
        display: flex;
        justify-content: center;
        height: 1.5rem;
    }

    .page__txt__partner img {
        height: 25px;
    }

    .page__txt,
    .page__img {
        width: 100%;
        padding: 2.5rem;
        margin-top: 2.5rem;
    }

}